<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <!-- 将指定的类配置给spring 让spring创建其对象的实例 -->
        <!-- <bean id="userDao" class="com.bj.xd.UserDaoImpl" />
        
         <bean id="userService" class="com.bj.xd.UserServiceIm pl">
        	将id为userDAO的Bean实例注入到userService
        	<property name="userDao" ref="userDao"/>
        </bean> -->
</beans>